__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/
.env

backend/db.sqlite3
backend/media/
staticfiles/

chemical-visualizer-web/node_modules/
chemical-visualizer-web/build/
chemical-visualizer-web/.env

desktop-app/__pycache__/
desktop-app/*.pyc
desktop-app/.env

.DS_Store
Thumbs.db
.vscode/
.idea/
